

* {
    margin:0;
    padding: 0;
}

body { 
    color:#a09e9c;
}

.nav_container {
    text-align: right;
    width: 100vw;
    height: 20px;
    position: fixed;


    
}

.nav_container li {
    display: inline-block;
    text-align:right;
    margin-right: 30px;
    
}


.nav-link {
    color:#a09e9c;
    text-decoration: none;
}

.bottom_navbar_container {
    display:inline-block;
    width: calc(100% - 50px);
    
    
}

.logo {
    margin-top: 2px;
    display:inline-block
}

.bottom_navbar_right {
    display: inline-block;
    text-align:center;
    
}

.bottom_nav_item {
    display:inline-block;
  
}

.bottom_nav_item a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-size: 20px;
    margin: 50px 50px;
}

.color_red {
    color:red;
}

.nav_container li {
    display: inline-block;
    text-align:right;
    margin-right: 30px;
    
}


.nav-link {
    color:#a09e9c;
    text-decoration: none;
}

.bottom_navbar_container {
    display:inline-block;
    margin-top: 20px;
    margin-right: 50px;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
    display:inline-block;
    text-align: left;
}

.logo h1 {
    color:red;
}
.bottom_navbar_right {
    margin-left: 500px;
    display: inline-block;
    text-align:right;
    
}

.bottom_nav_item {
    display:inline-block;
  
}

.bottom_nav_item a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-size: 20px;
    margin: 50px 50px;
    
}

.style_red {
    color:red;
}

.background_image_container {
    position: relative;
    background:url(assets/images/banner.jpg) no-repeat;
    background-position:center;
    background-size:cover;
    text-align: center;
    height:800px;
    z-index: 1;
}

.background_image_container:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(65,73,89,.65);
    z-index: -1;
}
.background_image_container_text { 
    color: #fff;
    padding-top: 155px;
    
}

.background_image_container_text h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
}

.background_image_container_text p {
    font-size: 18px;
    color: #fcfcfc;
    margin-top: 25px;
    font-size: 40px;
    text-transform: uppercase;
}
.middle_section_container h1 {
    color:black;
    margin-left: 10px;
    text-transform: uppercase;
}

.middle_section {
    width: 100vw;
    height: 100vh;
}
.middle_section_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.services_card_container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;


}

.service_card_1 {
    height: 40vh;
    width: 400px;
    background-color: grey;
    border: 5px solid blue;
    color: white;
    
    
}

.service_card_2 {
    height: 40vh;
    width: 400px;
    background-color: grey;
    border: 5px solid blue;
    color: white;
    grid-column: 2;
}

.service_card_3 {
    height: 40vh;
    width: 400px;
    background-color: grey;
    border: 5px solid blue;
    color: white;
    grid-column: 3;
}


.service_header {
    font-size: 30px;

}

.service_description {
    margin-top: 20px;
}